
laba3/zadanie/Debug/

laba4/Debug/

snakeTask/snakeTask/Debug/

laba5/Debug/

laba5/laba5/laba5\.vcxproj

laba5/laba5/laba5\.vcxproj\.filters

laba5/laba5/laba5\.vcxproj\.user

laba5/\.vs/

laba5/laba5/Debug/
